*{
	margin:0px;
	padding:0px;
}

.bgimage{
	background-image: url('contbg.jpg');
	background-size: 100% 110%;
	width: 100%;
	height: 100vh;
}

.leftmenu{
	width: 20%;
	line-height: 100px;
	float: left;
/*	background-color: yellow;*/
}

.leftmenu h4{
	padding-left: 10px;
	font-weight: bold;
	color: white;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
}


#fisrtlist{
	color: orange;
}


.text{
	width: 100%;
	margin-top: 100px;
	text-transform: uppercase;
	text-align: center;
	color:white;
}

.text h4{

	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.text h1{
	font-size:62px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	margin:14px 0px;
}

.text h3{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}
